
<!--


  TO DO: 
  - MAKE FULL WIDTH (VERY HARD AA)


-->

<nav class="navbar navbar-default" style="background: rgba(0,0,0,.5);">

    <div class="container-fluid">
    
            <div class="navbar-default">
                
                <div class="col-xs-1">
                    <a [routerLink]="['/']">
                        <img src="../../assets/bru 2nd try.png" class="img-responsive" style="max-width : 100px">
                    </a>
                </div>
                <div class="col-xs-6" style="margin-top : 22px;">
                    <ul class="nav navbar-nav">
                        <li>
                            <a [routerLink]="['/']" style="color : silver;">
                                Home
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/services']"  style="color : silver;">
                                Services
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/gallery']"  style="color : silver;">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']"  style="color : silver;">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/profile']"  style="color : silver;">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
</nav>


        
