<!--


  TO DO: 
  - CHANGE FONTS
  - ADD COOL IMAGES FOR LIST OF SERVICES
  - COPY PASTE LAST BITS OF CONTENT
  - BACKGROUND READJUSTMENT


-->


<div class="row" id="back"> 
    <div class="container" style="margin-top : 20px; margin-left: 100px;">
        <div class="col-xs-5" id="title">
        Packages
        </div>
    </div>  
    <div class="col-xs-4" style="margin-left : 100px;">
    </div>
</div>

<div class="container-fluid">
    <div class="col-sm-4">
        bruh
    </div>
    <div class="col-sm-4">
        bruh
    </div>
    <div class="col-sm-4">
        bruh
    </div>
</div>