<!--


  TO DO: 
  - CHANGE FONTS
  - ADD COOL IMAGES FOR LIST OF SERVICES
  - COPY PASTE LAST BITS OF CONTENT
  - BACKGROUND READJUSTMENT


-->


<div class="row" id="back"> 
    <div class="container" style="margin-top : 20px; margin-left: 100px;">
        <div class="col-xs-4">
            Cuidado
        </div>
    </div>
    <div class="container">
        <div class="col-xs-4" style="font-size : 20px; margin-bottom: 100px; margin-left: 53px; background-color : brown;">
            You Own, We Care
        </div>
    </div>

</div>

<div class="container">
    <div class="row">

      <div class="col-sm-6" id="left">
        <ul id="icon-list" class="list-group">
            <li id="rent-collect">
                Rent Collection
            </li>
            <li id="repair-maintenance">
                Repair And Maintenance
            </li>
            <li id="cleaning-services">
                Cleaning Services
            </li>
            <li id="fumigation-services">
                Fumigation
            </li>
            <li id="renovation-services">
                Renovation
            </li>
        </ul>
      </div>

      <div class="col-sm-6" id="right">

        <div class="col-xs-12" id="left-title">
            PROPERTY MANAGEMENT
        </div>

        <div class="col-xs-12">
            <hr style="size : 50px; color : grey;">
            <div class="col-xs-12">
                WE HELP YOU MAINTAIN PROPERTIES
            </div>
            <hr style="size : 50px; color : grey;">

        </div>


        <div class="col-xs-11" id="left-text">

            <div class="col-xs-12" id="left-text" style="margin-top : 20px">
            Here at Cuidado, our mission is to transform the property management landscape in Pakistan by providing integrated and hassle-free property management services.
        We offer professional property management services to real estate owners in Karachi as our initial destination. We take off the worries and burden of our clients who live thousands of miles away and find it extremely challenging to manage their precious investments back home. 
        Winning our client’s trust through integrity and transparency is the core of our business. 
            </div>

        </div>

        <div class="col-xs-11">
            <button class="btn" class="color : yellow;">
                READ MORE
            </button>
        </div>


        </div>
    </div>
  </div>